.cont1{
    width: 100%;
    height: 90vh;
}
.ContainerWithdrawals{
    width: 100%;
    height: 100%;
    position:absolute;
    right: 0px;
    top:-1px;
    background-position: center left;
}


.fondo{
    width: 100%;
    height: 85vh;
   
  

    
    
}
