@import '../../constants/colors.module.scss';

.mainContainer {
  background-color: inherit;
  height: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  padding: 1vh;
}
