@import '../../constants/colors.module.scss';

.container {
  background-color: $background-grey;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  position: sticky;
  top: 0;
  padding: 1vh;
}
