.container {
  position: sticky;
  top: 0;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end;
  width: 205vh;
  height: 8vh;
  align-items: center;
  background-color: inherit;
}
