@import '../../../constants/colors.module.scss';

.cont1 {
  width: 100%;
  height: 100vh;
  display: flex;  
}

.containerBenefits {
  width: 100%;    
  background-color: $background-grey;
  color: rgb(66, 66, 102);
}

.contOne {
  width: 28%;
  position: relative;
  top:10%;
  left: 16%;
}

.contTwo {
  width: 28%;
  position: relative;
  bottom: 11%;
  left: 56%;  
}

.contThree {
  width: 30%;
  position: relative;
  left: 16%;
}

.contFour {
  width: 30%;
  position: relative;
  left: 56%;
  bottom:21%;
}

.hr {
  width: 10px;
  background-color: $border-brightblue;
  border-color: $border-brightblue;
  border-radius: 30px;
  right: 48%;
  height: 5px;
}

.title {
  font-style: oblique;    
}

.button {
  text-align: center;
}
