.button {
  background-color: #5481ff;
  border: none;
  border-radius: 5vh;
  color: white;
  height: 6vh;
  width: 30vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 44vh;
}
