@import '../../../constants/colors.module.scss';

.button {
  background-color: $main-blue;
  border: none;
  border-radius: 5vh;
  color: white;
  cursor: pointer;
  height: 6vh;
  width: 30vh;
}

@media only screen and (max-device-width: 600px) {
  .button {
    height: 8vh;
    width: 55vh;
    font-size: larger;
  }
}
