.button {
  background-color: #5481ff;
  border: none;
  color: white;
  border-radius: 5vh;
  width: 30vh;
  height: 6vh;
}

.text {
  font-family: 'Roboto';
}

.container {
  display: flex;
  width: 33vh;
  justify-content: center;
}
