.button {
  background-color: white;
  border-color: #5481ff;
  border-radius: 5vh;
  color: #5481ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vh;
  height: 6vh;
  margin: 2vh;
}
