@import '../../../constants/colors.module.scss';

.button {
  background-color: inherit;
  border: none;
  color: $main-blue;
  cursor: pointer;
  border-radius: 5vh;
  width: 30vh;
  height: 6vh;
}

.link {
  text-decoration: none;
  color: $main-blue;
  padding: 1vh 2vh;
}

.buttonChange{
  background-color: $main-blue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5vh;
  width: 30vh;
  height: 6vh;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.linkChange {
  text-decoration: none;
  color: white;
  padding: 1vh 2vh;
}

@media only screen and (max-device-width: 600px) {
  .button {
    display: none;
  }

  .link {
    display: none;
  }
}
