@import '../../../constants/colors.module.scss';

.button {
  background-color: white;
  border-color: $main-blue;
  border-radius: 5vh;
  color: $main-blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vh;
  height: 6vh;
  margin: 2vh;
}

.link {
  text-decoration: none;
  color: $main-blue;
  padding: 1vh 0vh;
}

@media only screen and (max-device-width: 600px) {
  .button {
    font-size: medium;
    height: 8vh;
    width: 30vh;
  }
}
