.container {
  background-image: url('../../assets/images/bg_recargas.png');
  background-size: auto;
  height: 100vh;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 25vh;
  padding-top: 10vh;
  width: 100vh;
}

.title {
  font-family: 'Roboto';
  font-style: italic;
  color: #214960;
  font-size: 6vh;
}

.text {
  font-family: 'Roboto';
  color:#3e799b;
  font-size: 3vh;
}

.subTitle {
  margin-left: 26vh;
  margin-bottom: 2vh;
  font-size: 6vh;
  font-family: 'Roboto';
  font-style: italic;
  color:#214960;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-left: 24vh;
  margin-right: 55vh;
}

.imageContainer {
  display: flex;
  height: 10vh;
}

.images {
  width: max-content;
  height: 5vh;
}

.barra {
  opacity: 0.3;
  font-size: x-large;
  margin-top: 0vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
