@import '../../../constants/colors.module.scss';

.cont2 {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 100%;
}

.containerBenefits {
  display: flex;
  flex-direction: column;
}

.title1 {
  width: 60%;
  position: relative;
  left: 22%;
  bottom: 30px;
  font-style: oblique;
  font-size: larger;
  color:$title-darkblue;
  margin-top: 15vh;
}

.title2 {
  width: 53%;
  position: relative;
  left:19%;
  color: $title-darkblue;
  text-align: center;
}

.title3 {
  width: 47%;
  position: relative;
  left:20%;
  color: $title-darkblue;
  text-align: center;
}

.table1 {
  border: 1px solid rgb(34,70,77);
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  color: $title-darkblue;
  position: relative;
  left: 20%;
}

.th1 {
  border: 1px solid $title-darkblue;
  border-collapse: collapse;
}

.text1 {
  width: 50%;
  font-size: 12px;
  position: relative;
  left: 20%;
  color: $title-darkblue;
}

.button {
  text-align: center;
  width: 90%;
}
