@import '../../constants/colors.module.scss';

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh;
}

.subContainer {
  display: flex;
  margin: 10vh;
}

.smallContainer {
  display: flex;
  width: 73vh;
}

.title {
  color: $title-darkblue;
  font-family: 'Roboto';
  margin: 5vh;
  font-style: italic;
  font-size: 7vh;
  font-weight: 500;
}

.subTitle {
  color: $main-blue;
  font-family: 'Roboto';
  font-weight: 600;
}

.inputNumber {
  width: 60vh;
  height: 15vh;
  border: none;
  border-bottom: 0.5vh solid $main-blue;
  font-size: 10vh;
  opacity: 0.5;
  margin: 3vh;
}

.button {
  width: 6vh;
  height: 10vh;
  border: 0;
  padding: 0;
  background-color: inherit;
}

.arrow {
  width: 6vh;
  margin-top: 2vh;
  cursor: pointer;
}
