.ContainerFooter {
  width: 100%;
  height: 30vh;
  background-color:rgb(75, 74, 74);
  position: absolute;
}

.title {
  width: 100%;
  height: 26vh;
}

.title1 {
  width: 100%;
  height: 30%;
  text-align: center;
  font-style: oblique;
  color:white;
}

.button {
  width: 48%;
  height: 28vh;
  position: relative;
  left: 52%;
  bottom: 28vh;  
}

.button1 {
  width: 22%;
  height:15%;
  border-radius: 50px;
  position: relative;
  left: 17%;
  top: 25%;
  border-radius: 50px;
  font-size: 11px;
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.button2 {
  width: 22%;
  height:15%;
  border-radius: 50px;
  position: relative;
  left: 20%;
  top: 25%;
  border-radius: 50px;
  font-size: 11px;
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.button3 {
  width: 22%;
  height:15%;
  position: relative;
  left: 23%;
  top: 25%;
  border-radius: 50px;
  font-size: 11px;
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.button4 {
  width: 22%;
  height:15%;
  position: relative;
  top:55%;
  right: 49%;
  border-radius: 50px;
  font-size: 11px;
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.button5 {
  width: 22%;
  height:15%;
  position: relative;
  top: 40%;
  left: 42%;
  border-radius: 50px;
  font-size: 11px; 
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.button6 {
  width: 22%;
  height:15%;
  position: relative;
  top: 40%;
  left: 45%;
  border-radius: 50px;
  font-size: 11px;
  color:white;
  background-color: rgb(51, 51, 51);
  border: 0px;
  cursor: pointer;
}

.footerLink {
  text-decoration: none;
  color: white;
  padding: 1vh 5vh;
}

.footerLinkT {
  text-decoration: none;
  color: white;
  padding: 1vh 1vh;
}

.logos {
  width: 25%;
  height: 6vh;
  position: relative;
  bottom:142%;
  left:35%
}

.button7 {
  width: 12%;
  height: 99%;
  background-image: url(../Assets/Instagram.svg);
  background-color: rgb(51, 51, 51);
  border:0px;
  background-size: 33px 39px;
  background-position-x: 37px;
  position: relative;
  left: 27%;
  border-radius: 60px;
  cursor: pointer;
}

.button8 {
  width: 12%;
  height: 99%;
  background-image: url(../Assets/Twitter.svg);
  background-color: rgb(51, 51, 51);
  border:0px;
  background-size: 31px 39px;
  background-position-x: 36px;
  position: relative;
  left: 34%;
  border-radius: 60px;
  cursor: pointer;
}

.button9 {
  width: 12%;
  height: 99%;
  background-image: url(../Assets/Facebook.svg);
  background-color: rgb(51, 51, 51);
  border:0px;
  background-size: 29px 39px;
  background-position-x: 33px;
  position: relative;
  left: 40%;
  border-radius: 60px;
  cursor: pointer;
}

.button10 {
  width: 12%;
  height: 99%;
  background-image: url(../Assets/Youtube.svg);
  background-color: rgb(51, 51, 51);
  border:0px;
  background-size: 35px 38px;
  background-position-x: 38px;
  background-position-y: 2px;
  position: relative;
  left: 46%;
  border-radius: 60px;
  cursor: pointer;
}

.socialLink {
  font-size: x-small;
  color: inherit;
  padding: 2vh 2vh;
  color: transparent;
}

.logos2 {
  width: 40%;
  height: 90%;
  position: relative;
  bottom:61vh;
}

.Nubi {
  width: 33%;
  height: 30%;
  background-image: url(../Assets/secured_paypal.png);
  background-position-y: -4px;
  background-position-x: -7px;
  background-size: 195px;
  position: relative;
  left:45%;
  top:32%;
  border-radius: 20px;
  cursor: pointer;
}

.link { 
  text-decoration: none;
  padding: 3vh 13vh;
  font-weight: bold;
  font-size: xx-small;
  color: blue;
  position: relative;
  top: 2vh;
  left: 1vh;
}

.Paypal {
  width: 25%;
  height: 25%;
  background-image: url(../Assets/logo_nubi_white.svg);
  background-size: 140px;
  position: relative;
  left:11%;
}

.text {
  color: rgb(161, 161, 161);
  width: 34%;
  font-size: 15px;
  position: relative;
  left: 10%;
  bottom:9%;
}

@media only screen and (max-device-width: 600px) {
  .cont1 {
    height: 100vh;
  }

  .ContainerFooter {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .title {
    height: auto;
    position: absolute;
    top: 40vh;
  }

  .button {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 20vh;
  }

  .button1, .button2, .button3, .button4, .button5, .button6 {
    position: initial;
    margin: 1vh;
    height: 5vh;
    width: 40vh;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 55vh;
    left: auto;
    bottom: auto;
    height: auto;
    width: 100vh;
  }

  .button7, .button8, .button9, .button10 {
    background-size: cover;
    background-position: center;
    position: initial;
    height: 10vh;
    width: 10vh;
  }

  .logos2 {
    position: inherit;
    bottom: auto;
  }

  .Nubi {
    background-size: cover;
    position: absolute;
    left: 60vh;
    top: 2vh;
    height: 10vh;
    width: 31vh;
  }

  .Paypal {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 8vh;
    height: 10vh;
    width: 31vh;
  }

  .text {
    margin: 0;
    position: absolute;
    left: 10vh;
    top: 10vh;
  }
}
