.cont1{
    width:100%;
    height: 90vh;
}
.containerPrivacidad{
    width: 100%;
    height: 100%;
}
.Fondo{
    width: 100%;
    height: 50%;
    background-image: url(../Assets/bg_main_about_us.png);
    position: absolute;
    right: 0px;
    bottom: 50vh;
    background-size: 115%;
}
.title1{
    width: 100%;
    height:30%;
    position: relative;
    top:30%;
    font-size: 50px;
    font-style: oblique;
    color:#214960;
}
.subtitle1{
    width: 85%;
    height: 20%;
    position: relative;
    bottom:45%;
    left: 8%;
}
.subtitleOne{
    color:#5481ff;
    font-size: 28px;
    width:84%;
    right: 10%;
    position: relative;
    left: 8%;
}
.title2{
    width: 85%;
    height: 100%;
    position:relative;
    bottom: 35vh;
    left: 8%;
    font-style: oblique;
}
.subtitle{
    color: rgb(71, 71, 71);
    
}

.hr{
    background-color: #53ffc7;
    width: 100%;
    height: 4px;
    border: 0px;
}

.text{
    color:#214960;
    text-align: left;
    font-size: 21px;
}
.title3{
    width: 85%;
    height: 50%;
    position:relative;
    bottom: 45vh;
    left: 8%;
    font-style: oblique;
}

.Logo{
    width: 50%;
    height: 30vh;
    position: relative;
    top:45px;
}
.text2{
    color:#5c66f1;
    text-align: left;
    font-size: 21px;
}