@import '../../../constants/colors.module.scss';

.cont1 {
  background-color: $title-darkblue;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title1 {
  color: white;
  font-size: 7vh;
  padding-left: 10vh;
}

@media only screen and (max-device-width: 600px) {
  .cont1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .title1 {
    padding: 0;
    font-size: 6vh;
  }
}
